/*
.buttonbar {
  width: 100%;
  margin: 30px 0 5px 0;
  padding: 0;
  font-family: Arial,Geneva,Helvetica,sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  position: relative;

  ul {
    float: left;
    margin: 0;
    padding: 0 0 5px 0;
    list-style-type: none;
  }
  li {
    display: block;
    float: left;
    margin: 0 0 0 12px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  strong {
    font-weight:bold;
  }

}

.buttonlist {
  font-family: Arial,Geneva,Helvetica,sans-serif;
  font-size: 0.9em;
  overflow: hidden;
  ul {
    list-style-type: none;
    padding: 0 0 5px 0;
    li {
        margin-bottom: 12px;
    }
  }
}
*/