#js_navigation 
{
    background-color: #EEE;
    min-height: 480px;
    width: 120px;
    position: absolute;
    left: 2px;
}

#js_navigation ul {
    padding-left: 5px;
}

#js.navigation ul ul
{
    padding-left: 15px;
}

#js_navigation ul ul ul
{
    text-decoration: none;
/*    :color = !normal_link_color
    &:hover, &:active */
    text-decoration: underline;
}

#js_navigation li
{
    border: medium none;
    list-style-image: none;
    list-style-type: none;
    padding: 2px;
}
 
#js_navigation a.selected
{
    text-decoration: underline;
}

#js_navigation li
{
    font-size: 10pt;
}

.breadcrumbs {
    font-size: 8pt; 
    padding-bottom: 30px;
}
.breadcrumbs .title 
{
    float: left;
    margin-right: 5px; 
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a:hover 
{
    text-decoration: underline; 
}
