<% if current_admin %>
    <%= render :partial => "admin_index" %>
<% end %>

<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/welcome/welcome" %>
<% end %>

<% unless current_admin %>
<h1 class="page-header"></h1>
<%= link_to "Login as admin",new_admin_session_path, :class => "linkbutton" %>
<% end %>
