<% if current_client_user %>
    <%= render :partial => "#{current_client_user.class.name.underscore}_index" %>
<% end %>

<%= javascript_pack_tag 'hello_vue' %>
<%= stylesheet_pack_tag 'hello_vue' %>

<div id='mainapp'>
  <app></app>
</div>