<%= render partial: 'application/datatables_include' %>
<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/admins/userlist" %>
<% end %>

<div class="row">
<H2 class="page-header">Known users</h2>
</div>
<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <table id="admin_user_list" class="display table table-striped table-bordered dataTable no-footer" data-source="<%= admins_users_path %>">
            <thead>
                <tr><th rowspan="2">ID</th><th rowspan="2">User email</th><th rowspan="2">Used DNS Records</th><th colspan="2">Identity</th></tr>
                <tr><th>Auth provider</th><th>Created</th></tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
