<% page_title = "Dns zone records" %>
<%= render partial: 'datatables_include' %>
<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/isp_dnszones/index" %>
<% end %>

<div>
<table class="display" id="ispdnszones">
<thead>
<tr><th>DNS Zone</th></tr>
</thead>
<tbody>
<% @ispdnszones.each do |zone| %>
<tr><td><%= link_to zone.origin,isp_dnszone_path(zone) %></td></tr>
<% end %>
</tbody>

</table>

</div>
