<% content_for :additional_javascripts do %>

<script>
  var createrecordurl = "<%= dns_host_records_path%>";
  var newrecordurl = "<%= new_dns_host_record_path(:partial=>true) %>";
</script>

<% end %>

<h1 class="page-header">Dns Records</h1>

<%= render :partial => "dns_host_records/record_list", :locals => {dns_host_records: @dns_host_records} %>

<div id="dnszone_commands">
<a href="#" id="new_dns_host_record" class="addrecordbutton">Add new record</a>
</div>
