<div class="form-group input-group">
<%= fo.label element,:class=>"input-group-addon" %>
<%
    placeholder = "" unless defined?(placeholder)
%>
    <% unless defined?(value) %>
        <%= fo.send(inputtype, element, autofocus: focus,:autocomplete => (inputtype == :password_field ? "off":"on"),:class => "form-control",:placeholder => placeholder) %>
    <% else %>
        <%= fo.send(inputtype, element, :value => value, autofocus: focus,:autocomplete => (inputtype == :password_field ? "off":"on"),:class => "form-control", :placeholder=>placeholder) %>
    <% end %>
</div>

