<% _class = "btn btn-lg  btn-block" %>
<% if defined? defaulbtn && defaultbtn == true %>
    <%    _class += " btn-success" %>
<% end %>
<div class="form-group">
  <%= fo.submit label, :class=>_class %>
</div>

