<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dynamic Domain</a>
   </div> 

    <div id="navbar" class="navbar-collapse collapse">
      <%= render_navigation expand_all: true, renderer: :list %>
      <% if current_account.nil? %>
       <ul class="nav navbar-nav navbar-right">
       <li><a href="<%= client_login_path %>">Domain Admin</a></li>
       <li><a href="<%= admin_session_path %>">Platform Admin</a></li>
       </ul>
      <% end %>
    </div>
  </div>
</nav>
